/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
	.inner-wrapper{
		width: 94%;
	}

	.header .menu{
		width: 100%;
		
	}

	.header .menu ul li{
		float: none;
		
	}

	.header .logo h1{
		float: none;
		margin-bottom: 30px;
	}
	.background{
		width: 100%;
	}
	.home-text{
		width:98%;
	}
	.home-text p{
		font-size:37px;
		text-align:center;
	}
	.our-story-right p{
		width: 65%;
	}
	.our-story-right p{
		width:60%;
	}
	.big-thumbnail{
		width:94%;
	}
	.banner-second p{
		font-style:50px;
	}
	img{
		max-width: 100%
	}
}

/* Smartphones (landscape) ----------- */
@media only screen and (min-width : 321px) {
/* Styles */
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-device-width : 320px) {
	h2{
		font-size: 35px;
	}
	.header {
	    color: #fff;
	    padding-top: 15px;
	}

	.banner {
	    background: url("../images/header-img.jpg") no-repeat scroll 0 0 / cover rgba(0, 0, 0, 0);
	    height: 236px;
	    position: relative;
	}
 	.header{

 	}
 	.home-text {
	    padding: 30px 0;
	}
	.home-text .roy {
		  font-size: 30px;
		  margin-top: 20px;
		  text-align: center;
	}
 	.home-text p::before {
	    content: "“";
	    font-family: georgia;
	    font-size: 35px;
	    left: 0;
	    position: absolute;
	    top: 0;
	}
	.home-text p::after {
	    content: "“";
	    font-family: georgia;
	    font-size: 35px;
	    height: 75px;
	    position: absolute;
	    right: 0;
	    top: -50px;
	    transform: rotate(180deg);
	}

	.home-text p {
	    font-family: "JaneAusten Nosecret";
	    font-size: 28px;
	    position: relative;
	    text-align: center;
	}
	.our-story-left,
	.our-story-right {
	    float: left;
	    width: 100%;
	}
	.our-story-left p {
	    font-size: 20px;
	    font-style: italic;
	    width: 100%;
	}
	.services{
		background: none
	}
	.services .left-col,
	.services .left-col {
	    float: left;
	    margin-right: 0;
	    width: 100%;
	}
	.portfolio h3 {
	    border-bottom: 1px solid #918f8f;
	    clear: both;
	    font-size: 25px;
	    font-style: italic;
	    padding-bottom: 50px;
	}

	.banner-second {
	    height: 322px;
	}

	.right-team p {
	    font-size: 25px;
	}
	.team h2{

	    margin: 20px 0;
	}

	.team-members li.member {
	    float: left;
	    margin: 10px 27px;
	    position: relative;
	    text-align: center;
	    width: 100%;
	}
	.thumbnail-box-group {
	    display: inline;
	    float: left;
	    margin-bottom: 10px;
	    width: 100%;
	}
	.btn-wrapper {
	    padding: 5px 0 0;
	    text-align: center;
	}
	.banner-third {
	    height: 195px;
	}
	.banner-third {
	    margin: 15px 0 25px;
	}
	.blog-box{
		width: 100%;
	}
	.blog h6{
		font-size: 30px;
		 margin: 25px 0 45px;
	}
	.content p{
		width: 100%;
	}
	input[type="email"] {
	    margin-bottom: 10px;
	    width: 100%;
	}
	input[type="email"], input[type="text"] {
	    width: 100%;
	    margin-bottom: 10px;
	}
	.contact-right{
		width: 100%;	
	}
	.banner-last{
		 height: 230px;
	}
	.social-icon ul li{
		width:20px;
	}
}


/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
	/*img{
		width:100%;
	}*/
	h2{
		margin: 10px 0 20px 0
	}
	.inner-wrapper{
		width: 94%;
	}

	.header{
		padding-top: 30px;
	}

	.header .menu ul li a{
		color: red;
	}
	.our-story-left,
	.our-story-right
	{
		width:46%;
	}
	.services{
		background: none;
		height:500px;
	}
	.services .left-col,.services .right-col
	 {
	    float: left;
	    width: 45%;
	}
	.services .right-co{
		margin-right: 10%;
	}
	.services .left-col, .services .right-col {
    	line-height: 20px;
	}
	.portfolio {
	    margin: 30px 0;
	}
	.portfolio h2{
		clear:both;
	}
	.thumbnail-box-group{
		float:left;
	}
	.thumbnail img{
		width:50%;
	}
	.thumb-overlay{
		width: 100%;
	}

	.thumbnail-box-group .small-thumbnail {
	  width: 48%;
	  margin-right: 2%;
	}
	.left-team, .right-team{
		width:45%;
	}
	.team-members li.member{
		width:40%;
	}
	.team-members li.member h6{
		margin-bottom: 10px;
	}
	.blog-box{
		width: 45%;
	}

	input[type="email"], input[type="text"] {
		 width: 20%;
	}

	.newsletter-form button[type="submit"] {
	    width: 19%;
	}

	.contact-left,.contact-left {
		width: 45%;
	}
	.map{
		height:200px;
	}
}

/* iPads (landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
/* Styles */
}

/* iPads (portrait) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
/* Styles */
}

/* Desktops and laptops ----------- */
@media only screen and (min-width : 1224px) {
/* Styles */
}

/* Large screens ----------- */
@media only screen and (min-width : 1824px) {
/* Styles */
}

/* iPhone 4 ----------- */
@media only screen and (-webkit-min-device-pixel-ratio : 1.5),only screen and (min-device-pixel-ratio : 1.5) {
/* Styles */
}