
	body{
		margin: 0px;
		padding: 0px;
		background: #f1f3f5;
	}
	ul, h1,h2,h3{
		margin:0px;
		padding: 0px;
	}

	ul li{
		list-style: none;
	}
	.clearfix{
		clear:both;
	}
	.header{
		margin-top:30px;
		border:1px solid #ccc;
	}
	.wrapper{
		width:960px;
		margin:0px auto;
	}
	.logo{
		float:left;
	}
	.menu{
		float:right;
	}
	.menu ul li{
		float:left;
		padding: 0 30px;
	}
