
	body{
		margin: 0px;
		padding: 0px;
		background: #f1f3f5;
	}
	ul, h1,h2,h3{
		margin:0px;
		padding: 0px;
	}

	ul li{
		list-style: none;
	}
	.clearfix{
		clear:both;
	}
	.header{
		margin-top:30px;
		margin-bottom: 20px;
		border:1px solid #ccc;
		background: #fff;
	}
	.wrapper{
		width:960px;
		margin:0px auto;
	}
	.logo{
		float:left;
		padding: 14px 40px;

	}
	.menu{
		float:right;
	}
	.menu ul li{
		float:left;
		padding: 20px 30px;
		text-transform: uppercase;
	}
	.menu ul li.active{
		color:blue;
		background: #f9f9f9;
	}
	.banner{
		background:#fff;
		border:1px solid #eee;
	}
	.banner img{
		width:95%;
		padding:5px 10px;
	}
