body{
	margin:0px;
	padding:0px;
}
ul{
	margin:0px;
	padding:0px;
}
ul li{
	list-style:none;
}
.clearfix{
	clear:both;
}
.home{
	background: #b34a4f;
	color: #fff;
}
.header{
	width:660px;
	margin:0px auto;
}
.
.header-inner{
	width:660px;
}
.logo{
	float:left;
	padding: 10px;
}
.menu{
	float:right;
}
.menu ul li{
	float:left;
	padding:15px 15px;
}
.home .menu ul li.active{
	background:#df5c64;
}
.home-banner{
	width: 660px;
	margin:0px auto;
}
.home-title{
	font-size: 60px;
	margin-top: 30px;
	text-align: center;
	padding-bottom: 15px;
	font-weight: normal;
}
.home-text{
	font-size: 18px;
	text-align: center;
	padding-bottom: 10px;
}
.middle-text{
	font-size: 15px;
	text-align: center;
}
.bottom-text{
	text-align:center;
}
.featured{
	padding-top:60px;
	width:660px;
	margin:0px auto;
}
.featured-inner{
	
}
.featured-box{
	width: 143px;
	height: 265px;
	margin: 0px auto;
	float: left;
	border: 2px solid #f00;
	margin-left:10px;
	text-align:center;

}
.big-circle{
	width: 72px;
	height: 60px;
	background: #fff;
	border-radius: 20px solid #fff;
	text-align: center;
	border-radius: 86px;
	padding:15px 10px;
	margin:0 auto;
	margin-top:30px;
	margin-bottom:10px;
}
.circle-small{
	width: 60px;
	height: 60px;
	border-radius: 83px;
	margin: 0 auto;
	border: 3px #c35055;
	background: #f00;

}
.featured-text{
	color: #fff;
	text-align: center;
	font-size: 13px;
	padding:0 10px;
}
.about{
	background:#645461;

}
.header{
	width:660px;
	margin:0px auto;
	color:#fff;
}
.header-inner{

}
.about.menu ul li.active{
	background:#645461;
}
.about-title{
	margin-top:60px;
	font-size: 40px;
	text-align:center;
}
.about-text{
	text-align: center;
	font-size: 13px;
}
.meet{
	width:200px;
	margin:0px auto;
	text-align: center;
	color: #fff;
	margin-top: 30px;
	font-size: 18px;
	border-radius: 0 5px 0 5px;
	background: #9dca6b;
	padding:10px 0;
}
.ads{
	width:660px;
	margin:10px auto;
}
.ads-box{
	text-align:center;
	padding:50px 0;
}