body{
	margin:0px;
	padding:0px;
	color: #fff;
	font-family: 'Raleway', sans-serif;
}
ul,li, h1, h2 , h3, h4 , h5{
	margin:0px;
	padding:0px;
}
ul li{
	list-style:none;
}
.clearfix{
	clear:both;
}



/* Style for general templates*/
.inner-wrapper{
	width:660px;
	margin: 0px auto;
}
.header{
	width:660px;
	margin:0px auto;
}
.logo{
	float:left;
	padding: 10px;
}
.menu{
	float:right;
}
.menu ul li{
	float:left;
	padding:15px 15px;
}
.main-title{
	margin-top:60px;
	font-size: 40px;
	text-align:center;
	text-transform: uppercase;
}
.main-text{
	text-align: center;
	font-size: 13px;
}
.uppercase-text{
	text-transform: uppercase;
}
.button{
	width:200px;
	margin:0px auto;
	text-align: center;
	color: #fff;
	margin-top: 30px;
	font-size: 18px;
	border-radius: 0 5px 0 5px;
	background: #ccc;
	padding:10px 0;
	cursor: pointer;
}



/* Home page css*/
.home{
	background: #b34a4f;
}
.home .menu ul li.active{
	background:#df5c64;
}
.home .button{
	background: #df5c64;
}
.home-banner{
	width: 660px;
	margin:0px auto;
}

.featured{
	padding-top:60px;
	width:660px;
	margin:0px auto;
}
.featured-inner{
	
}
.featured-box{
	width: 143px;
	height: 265px;
	float: left;
	margin:50px 10px;
	text-align:center;
	background: #df5c64;
}

.big-circle{
	width: 72px;
	height: 60px;
	background: #fff;
	text-align: center;
	border-radius: 86px;
	padding:15px 10px;
	margin:0 auto;
	margin-top:30px;
	margin-bottom:10px;
}
.circle-small{
	width: 60px;
	height: 60px;
	border-radius: 83px;
	margin: 0 auto;
	border: 3px #c35055;
	background: #fff;

}
.featured-text{
	color: #fff;
	text-align: center;
	font-size: 13px;
	padding:0 10px;
}



/*About page css*/
.about{
	background:#645461;
}
.about .menu ul li.active{
	background:#8f778d;
}
.about .button{
	background: #9dca6b;
}


.ads{
	width:660px;
	margin:0px auto;
}
.ads-box{
	text-align:center;
	padding:50px 0;
}
.work{
	background:#80a258;
	color:#fff;
}
.work .menu ul li.work{
	background:#9eca69;
}
.about-work{
	width: 660px;
	margin: 0px auto;
	border-bottom: 1px solid #fff;
}

.second-header{
	width:660px;
	margin: 0px auto;
	padding: 10px;
}
.second-header .menu li.active{
	background: #fcc72d;
	margin:7px;
}
.portfolio{
	float:left;
	font-size: 25px;
}
.category{
	float:right;
}
.category ul li{
	float:left;
	padding:5px;
	margin-left: 15px;
}
.category ul li.active, .category ul li:hover{
	background: #fcc244; 
}
.gallery{
	padding-bottom:40px;
}
.thumbnail{
	width: 155px;
	background: #fff;
	color: #999;
	float: left;
	margin: 5px;
}
.caption{
	padding: 5px;
	text-align: center;
}





.contact{
	background: #72b4aa ;
	color:#fff;
}
.contact .menu ul li.active{
	background: #81c7bc;
}
.address{
	margin-top:70px;
	margin-bottom:50px;
}
span.label{
	display: inline-block;
	width: 80px;
}
.left-content{
	float:left;
}
.main-content{
	float: left;
	padding: 130px 60px;
}
.right-content{
	float: left;
	width: 200px;
	margin-top: 60px;
}

.contact-form input[type=text]{
	width:95px;
	background: #679f94;
	color:#fff;
	font-size:15px;
	border:0px;
}
.contact-form input[type=text].name-field{
	margin-right:5px;
}
.text-boxes{
	margin-bottom:10px;
}
.contact-form .message textarea{
	width: 100%;
	height: 100px;
	padding: 7px;
	background: #679f94;
	color:#fff;
}
.contact-form .button{
	width:150px;
	background: #de5c64;
}
