body{
	background:#1e0b26;
}

a.button{
	background: #cf2564;
	padding: 10px;
	color: #fff;
	border-radius:11px;
	text-decoration:none;

}
.clearfix{
	clear:both;
}
.page{
	width:925px;
	margin:0px auto;
}
.main-header{
	
	
}
.wrapper{
	width:920px;

}
.header{
	width:920px;
	margin:0 auto;
	padding:35px 0;
	color:#fff;
}
.logo{
	float:left;
	
}
.search{
	float:right;

}
.search input[type=search]{
	width:312px;
	padding:5px;
}
.menu{
	background:#a9245d;
	color:#fff;
}
.menu ul li{
	float:left;
	padding:10px 30px;
}
.featured-news{
	background: #06394a;
	padding:30px;
}
 h2{
	color:#fff;
	font-weight:30px;
	font-size:30px;
	padding:25px 0px 31px 35px;
}
.banner{
	float:left;
	width:400px;
}
.nav{
	background: #01313f;
	color: #0791b1;
	border: 1px solid #01313f;
	border-radius: 10px;
	
	padding: 10px;
	font-size:10px;
}
.nav ul li{
	float:left;
 	padding-left: 35px;
	margin-left: 10px;
	line-height: 25px;
}
.nav ul li.calender{
	background:  url(../images/calendar146.png) no-repeat center left;
	line-height: 15px
}
.nav ul li.bubbles{
		background: url(../images/speech117.png) no-repeat center left;
		line-height: 15px
}
.nav ul li.trips{
	background:url(../images/little7.png) no-repeat center left;
	line-height:15px;
}

.banner-text{
	float: right;
	width: 260px;
	color: #FFF;
}
.banner-text p{
	line-height: 20px;
	margin: 20px 0;
}
button{
	width:130px;
	background:#bb2660;
	border-radius:10px;
	color:#fff;
	padding:5px;
}
.circles{
	text-align:center;
}
.circle{
	width: 15px;
	height: 15px;
	border-radius: 30px;
	background: #fff;
	border: 2px solid gray;
	float: right;
	margin-right: 5px;
}
.circle.active{
	background:#574e4f;
}
.main-container{
	background:white;
	padding: 30px;
	overflow: hidden;
	
}

.post-container{
	float: left;
	width: 550px;
	border-right:1px solid #cdcdcd ;
	
}
.post{
	padding:25px 0;
	border-bottom:1px solid #cdcdcd;
}
.main-container img{
	float:left;
	width:200px;
}
.post .description{
	float:left;
	width:315px;
	padding-left:25px;
}

.sidebar{
	float: right;
	background: #f4f4f4;
	width: 308px;
}
.main-container h2{
	color:#337375;
	padding:30px 0;


}
.meta{
	background:#cdcdcd;
	border:1px gray;
	overflow: hidden;
	padding:10px;

	border-radius:5px;
}
.meta ul li a{
	float:left;
	padding-left:30px;
	color:#0c0007;
}
.post p{
	padding:20px 0;
}
.numbers{
	text-align:center;
	float:left;
	margin:50px 0;
}
.number{
	width: 20px;
	height: 20px;
	border-radius: 4px;
	background: #e5e7e4;
	float: left;
	margin-right: 10px;
	padding:5px;
	font-size:15px;
}
.number.active{
	background:#ac225d;
	color:#fff;
}

.post .nav{
	background: #eaeaea;
	color: #160000;
}
.subscribes{
	background:#f4f4f4;
	padding:3px;
	border:1px solid;
	margin-top:30px;
}
 .subscribes p{
	background:url(../images/icon.jpg) no-repeat center left;
	color:red;
	padding: 5px 25px;
	border:1px solid;
}
.subscribes a{
	padding-left:10px;
	color:#735b2f;
}
.popular-post h3{
	background:url(../images/icon.jpg) no-repeat center left;
	font-size:25px;
	padding:15px 0;
	padding-left:20px;
}
