body
{
    font-family: sans-serif;
}


a
{
    text-decoration: none;
}
.clearfix
{
    clear: both;
}
h1
{
font-size:18px;
margin:10px 0;
font-weight:600;
text-transform:uppercase;
}
p{
    font-size:12px;
    line-height:20px;
}
button
{
    font-size: 12px;
    font-weight: 600;

    display: block;

    margin: 20px 0;
    padding: 12px 30px 12px 20px;

    text-transform: uppercase;

    color: #47b9ad;
    border: 2px solid #47b9ad;
}
button.green
{
    font-weight: 600;

    text-transform: uppercase;

    color: #47b9ad;
    border: 2px solid #47b9ad;
    background: url(../images/green-arrow.png)no-repeat 89% 14px;
}
button.green.gray
{
    color: #898989;
    border: 2px solid #898989;
    background: url(../images/gray-arrow.png)no-repeat 95% center;
}
textarea
{
    box-sizing: border-box;
    width: 100%;
    height: 100px;
    padding: 10px;

    border: none;
    outline: none;
    background: #ebebeb;
}
input[type='text'],
input[type='email'],
input[type='password']
{
    display: block;

    box-sizing: border-box;
    width: 100%;
    margin-bottom: 15px;
    padding: 10px;

    text-transform: uppercase;

    border: none;
    background: #ebebeb;
}
/*... start page*/
.page
{
    margin: 0 auto;
}

.page-wrapper
{
    width: 1290px;
    margin: 0 auto;
}
/*...end page*/


/*...header*/
.header
{
    overflow: hidden;

    width: 1115px;
    margin: 0 auto;
    padding: 30px 0;

    text-transform: uppercase;
}
.header .logo
{
    float: left;
}
.header .menu
{
    float: right;
}
.header .menu ul li a
{
    padding: 5px 10px;

    color: #949394;
}
.header .menu ul li a:hover
{
    color: #fff;
    border-radius: 5px;
    background: #000;
}
.header .menu ul li
{
    font-size: 14px;

    float: left;

    padding: 30px 13px 0 13px;
}
.header .main-menu
{
    float: right;
}
.header .main-menu ul li
{
    float: left;

    padding: 45px 20px 30px 18px;
}
.header .main-menu ul li a
{
    font-weight: 600;

    color: #383637;
}
.header .main-menu ul li a i.right-arrow
{
    padding-right: 10px;

    text-indent: 14px;

    background: url(../images/menu-arrow.png) no-repeat right 4px;
}
.header .main-menu ul li a i:hover
{
    border-bottom: 2px solid;
}
/*..header end...*/

/*..banner...*/
.banner
{
    position: relative;
}
.scroll
{
    position: absolute;
    bottom: 8px;
    left: 50%;

    padding: 15px;

    color: #fff;
}
.banner .scroll a
{
    position: absolute;

    width: 32px;
    height: 13px;

    background: url(../images/down-arrow.png) no-repeat center center;
}
/*...sidebar-menu-start*/
.banner .banner-sidebar
{
    position: absolute;
    top: 0;
    right: 0;

    overflow: hidden;

    width: 407px;
    height: 100%;

    text-transform: uppercase;

    color: #fff;
    background: #383637;
}
.banner-sidebar .books
{
    padding-bottom: 29px;
    padding-left: 50px;

    border: 1px solid;
    background: #6c8e9c;
}
.banner-sidebar .books.wide-format
{
    background: #84c1bc;
}
.banner-sidebar .brochures
{
    padding-bottom: 70px;

    background: #83c984;
}
.banner-sidebar .brochures.business
{
    background: #cecc1f;
}
.banner-sidebar .brochures.flyers
{
    background: #e0b016;
}
.banner-sidebar .brochures.printing
{
    background: #f8842d;
}
.banner-sidebar .brochures.laser
{
    background: #ed524d;
}
.banner-sidebar h4
{
    font-weight: 500;

    padding: 15px;
}

.banner-sidebar ul li
{
    font-size: 12px;
    line-height: 20px;

    padding-left: 30px;
}

/*.........banner-sidebar-menu end*/

/*...start banner-sidebar-form...*/
.banner-sidebar
{
    box-sizing: border-box;
    padding: 40px 35px;

    background: #383637;
}
.banner-sidebar h2
{
    font-size: 20px;
    font-weight: 600;

    margin-bottom: 35px;
    padding-bottom: 16px;

    border-bottom: 1px solid #47b9ad;
}
.banner-sidebar label
{
    font-weight: 600;
    margin-bottom: 10px;
    clear: both;

    color: #47b9ad;
}


.banner-sidebar.form a.forgot-password
{
    font-size: 12px;

    display: block;

    padding: 20px 0;

    color: #808080;
}
.banner-sidebar.form .user
{
    margin-top: 300px;

    border-top: 1px solid #47b9ad;
}
.banner-sidebar.form .user button
{
    display: block;
    float: right;
    clear: both;
}
.banner h5
{
    padding-top: 20px;
}

/*... for poster form......*/
.banner-sidebar.post
{
    box-sizing: border-box;
    padding: 40px 35px;

    background: #383637;
}
.banner-sidebar.post h6
{
    font-size: 13px;
    font-weight: 100;
    line-height: 20px;

    margin: 30px 0;

    text-transform: none;

    color: #8c8b8b;
}
.banner-sidebar.post p
{
    font-size: 14px;

    padding-bottom: 45px;

    text-transform: none;

    color: #8c8b8b;
}
.banner-sidebar.post select
{
    width: 80%;
    margin-bottom: 20px;
    padding: 10px;

    border: none;
    background: #e7e7e7;
}

.right-qty
{
    display: block;
    float: right;

    margin-top: 30px;
    /* width: 366px; */
    padding-right: 73px;

    color: #d3d3d3;
}
.right-qty input[type='text']
{
    width: 79px;
    display:inline;
}

.right-qty h4
{
    font-size: 12px;
    font-weight: 0;

    display: block;

    padding: 30px 0 10px 40px;
}
.left-btn
{
    clear: both;

    padding-top: 0px;
}
/*...customer sign up start...*/
.banner-sidebar.signup h2
{
    font-size: 18px;
    font-weight: 600;
}
.banner-sidebar label
{
    font-size: 15px;
    font-weight: 600;
    padding-bottom: 10px;
    display: block;
}
.banner-sidebar label.green{
    color: #47b9ad;
}
.banner-sidebar.signup input[type=text],
.banner-sidebar.signup input[type=email],
.banner-sidebar.signup input[type=password]
{
    width: 247px;
}
.banner-sidebar.signup p
{
    font-size: 12px;
    font-weight: 600;
    line-height: 20px;

    padding: 30px 0;

    color: #727172;
}
.user.active
{
    margin: 40px 0 50px 0;

    border-top: 1px solid #47b9ad;
}

button.green.active
{
   /* font-size: 25px;*/

    float: right;

    width: 150px;
    margin: 20px 0;
}
p.active
{
    /*float: right;*/
}
/*....end banner....*/
.main-container
{
    overflow: hidden;
}
/*...tiles....*/
.tiles
{
    margin: 30px 0;
}
.tiles .product-small
{
    position: relative;

    float: left;

    margin-right: 30px;
}
.tiles .product-large
{
    position: relative;

    float: left;
    /*border-right:35px solid #383637;*/
}
/*..end tiles*/

/*...start simple-img*/
a.right-arrow
{
    position: absolute;
    right: 0;
    bottom: 0;

    width: 30px;
    height: 100%;

    text-align: center;

    opacity: .5;
    background: #000 url(../images/right-arrow.png) no-repeat 10px 217px;
}

.simple-img
{
    margin: 30px 0;
}

.simple-img .left-img
{
    position: relative;

    float: left;

    margin-right: 30px;
}

.simple-img .right-img
{
    position: relative;

    float: left;
}
/*..end simple-img*/


/*..start logo display*/
.logo-display
{
    position: relative;
}
.logo-display a.logo-arrow
{
    position: absolute;
    bottom: 50%;

    width: 13px;
    height: 13px;
}
.logo-display a.logo-arrow.left
{
    left: 5px;

    background: url(../images/logo-display-left.png) no-repeat 0 0;
}
.logo-display a.logo-arrow.right
{
    right: 5px;

    background: url(../images/logo-display-right.png) no-repeat 0 0;
}
.rectangle
{
    float: left;

    margin: 0 45px;
}
/*...end logo-display*/

.footer
{
    margin-top: 60px;

    color: #ebebeb;
    background: #383637;
    clear:both;
}


.footer h2
{
    font-size: 18px;
    font-weight: 600;
    line-height: 35px;

    padding: 0 0 40px 40px;

    color: #fff;
}

.footer-inner
{
    width: 1290px;
    margin: 0 auto;
    padding-top: 45px;
    padding-bottom: 80px ;
}
.footer-box
{
    float: left;

    width: 300px;
}
.footer-menu
{
    padding-left: 60px;
}
.footer .footer-menu ul li a
{
    font-size: 14px;
    line-height: 25px;

    color: #ebebeb;
}
.footer p
{
    font-size: 14px;
    line-height: 30px;

    padding-left: 40px;
}
.footer p.active
{
    line-height: 0;
}

.footer p:nth-child(1)
{
    padding: 20px 40px;
}
.foote p:nth-child(2)
{
    padding: 0 0 50px 20;
}
.footer .footer-box.house-keeping
{
    height: 39px;

    text-indent: 14px;

    background: url(../images/footer-logo.jpg) no-repeat 0 0;
}
.footer-box.social-hub
{
    text-indent: 14px;

    background: url(../images/footer-logo-3.jpg) no-repeat 0 0;
}
.footer-box.keep-in-touch
{
    text-indent: 14px;

    background: url(../images/footer-logo-2.jpg) no-repeat 0 0;
}
.footer-box.picture
{
    text-indent: 14px;

    background: url(../images/footer-logo-4.png) no-repeat 0 0;
}
.footer button
{
    margin: 35px 0 0 36px;
    padding: 10px 30px 10px 10px;

    text-transform: uppercase;

    color: #ed524d;
    border: 3px solid #ed524d;
    outline: none;
    background: #383637 url(../images/red-arrow.png) no-repeat 115px 12px;
}
/*.....housekeeping start from here.....*/
.text
{
    /*widthtiles;*/
}
.heading
{
    font-size: 20px;
    font-weight: 500;

    width: 770px;
    margin-top: 100px;

    text-transform: uppercase;

    border-top: 1px solid #ccc;
}
.heading h1
{
    padding: 30px 0 30px 0;
}
.title
{
    font-size: 18px;

    padding: 15px 0;
}
.text p
{
    font-size: 13px;
    line-height: 20px;

    margin-bottom: 15px;
}
/*..ending housekeeping....*/


/*start faq's....*/

.icon
{
    clear: both;

    padding: 100px 70px;

    border-bottom: 1px solid #ccc;
}
.view-details
{
    font-weight: 600;
    line-height: 21px;

    float: left;

    padding-left: 50px;

    color: #47b9ad;
    background: url(../images/eyes.png) no-repeat 0 0;
}
.share-details
{
    font-weight: 600;
    line-height: 32px;

    float: right;

    padding-left: 50px;

    color: #47b9ad;
    background: url(../images/iconss.png) no-repeat 0 0;
}
 .title
{
    font-size: 18px;
    font-weight: 600;

    margin: 20px 0 40px 0;

    text-transform: uppercase;
}
.leaser-box p
{
    font-size: 15px;
    line-height: 25px;
    color: #eee;
}
.leaser-box
{
    float: left;

    width: 850px;
    margin-top: 50px;
}
.sidebar{
    float:right;
}
/*...end faqs....*/

/*....start contact css....*/

.contact button,
.contact-sidebar button
{
    float: right;
    clear: both;
}
.contact button
{
    margin-bottom: 0;
}
.contact
{
    float: left;

    width: 775px;
    margin-top: 40px;

    border-top: 1px solid #f8f8f8;
}
.contact h1,
.contact-sidebar h1
{
    font-size: 15px;
    font-weight: 600;

    padding: 40px 0 60px 0;

    text-transform: uppercase;
}
.contact p
{
    font-size: 14px;
    line-height: 20px;
}

.get-in-touch
{
    float: left;
    width: 360px;
}

.contact-form
{
    float: left;

    width: 390px;
}

.contact-form form input
{
    width: 325px;
}
.contact-sidebar
{
    float: right;

    width: 400px;
    margin-top: 40px;
    padding: 0 37px;

    border-top: 1px solid #ebebeb;
}
.form button.green
{
    clear: both;
}
.contact-sidebar
{
    border-top: 1px solid #ebebeb ;
}
.contact-sidebar h1
{
    padding-bottom: 15px;
}
p.sub-title
{
    padding-bottom: 28px;
}
.contact-sidebar form input
{
    display: block;
}
/*....end  contact form....*/


/*... start what,s new ...*/
.popular
{
    float: left;

    width: 770px;
    padding-bottom: 40px;

    border-top: 1px solid #ebebeb;
}
.post
{
    font-size: 20px;

    display: block;

    padding: 25px 0;
}
.date
{
    font-size: 12px;

    padding: 5px 0;
}
.para p
{
    font-size: 12px;
    line-height: 20px;
}
.popular img
{
    margin-top: 40px;
}
span
{
    font-size: 10px;
}
.popular form
{
    width: 575px;
}
.popular input[type='text']
{
    width: 317px;
    margin: 30px 0 25px 0;
}
.popular textarea
{
    height: 150px;
}
.popular button
{
    float: right;
}

.popular-sidebar h1
{
    font-size: 20px;

    padding-bottom: 10px;

    text-transform: uppercase;
}
.popular-sidebar
{
    float: left;

    width: 300px;
    margin-left: 76px;
    padding: 30px 35px;

    border-top: 1px solid #ebebeb;
}
.popular-sidebar .sidebar-list ul li a
{
    font-size: 18px;
    line-height: 40px;

    color: #000;
}
.popular-sidebar .sidebar-list ul li a:hover,
.popular-sidebar .sidebar-list ul li.active a
{
    color: #47b9ad;
    border-bottom: 2px solid #a7d9d3;
}

/*...end whats new*/


/*...starts info css....*/
.info
{
    float:left;
    width:780px;
    clear:both;
}
.history
{
float:left;
}
.history p{
    width:360px;
}
.equipment
{
    float:right;
}
.equipment p
{
    width:350px;
    margin-bottom:15px;
}