body{
	font-family:monotype;
}

ul li{
	text-decoration:none;
}
.clearfix{
	clear:both;
}

.header{
	position:relative;
	top: 85px;
  	left: 15%;
}

.logo{
	float:left;
	margin-right:60px;
}
.menu{
	float:left;
	padding-top:0px;
	 

}
.menu ul li{
	float:left;
	padding: 23px 30px;
	border-top: 5px solid #757878;
  border-bottom: 5px solid #757878;
  text-transform: uppercase;

}

.menu ul li i.arrow{
	background: #757878 url(../images/arrow.png) no-repeat left 0;
	width:33px;
	height:9px;
	opacity: 0.5;
	display:inline-block;
	margin-right:20px;
}
.banner{
	position: absolute;
	background: url(../images/banner.jpg) no-repeat  0 0;
	width:100%;
	height:850px;
	background-size:cover;
}

.footer{
	overflow: hidden;
	width:995px;
	margin:0px auto;
	background:#000000;
	opacity: 0.5
}