
	body{
		margin: 0px;
		padding: 0px;
		background: #f1f3f5;
		color:#b4bac0;
		font-family: tahoma;
	}
	ul, h1,h2,h3{
		margin:0px;
		padding: 0px;
	}
	a{
	
	}

	ul li{
		list-style: none;
	}
	.clearfix{
		clear:both;
	}
	.header{
		margin-top:30px;
		margin-bottom: 20px;
		border:1px solid #ccc;
		background: #fff;
	}
	.wrapper{
		width:1170px;
		margin:0px auto;
	}
	.logo{
		float:left;
		padding: 14px 40px;

	}
	.menu{
		float:right;
	}
	.menu ul li{
		float:left;
		padding: 20px 30px;
		text-transform: uppercase;
	}
	.menu ul li a{
		color: #606b74;
		text-decoration: none;
	}
	.menu ul li.active{
		color:blue;
		background: #f9f9f9;
	}

	.slider{
		background:#fff;
		border:1px solid #eee;
		padding:15px;
	}
	.slider img{
		width:100%;
		display:block;
	}
	.circles{
		text-align: center;
		margin-top:20px;
		margin-bottom: 50px;
	}
	.circle{
		width: 15px;
		height: 15px;
		border: 2px solid;
		border-radius: 100%;
		color: gray;
		margin: 5px;
		background: #b2b7bb;
		display: inline-block;
	}
	.circle.active{
		background:#fff;
	}
	.welcome{
		text-align:center;
	}
	.welcome h1{
		color: #7aad75;
	}
	.welcome p{
		font-size: 15px;
	}
	.featured{
		margin-top: 30px;
		margin-bottom:30px;
		text-align: center;
		border-top:1px solid #ccc;
	} 
	.title{
		border-bottom:1px solid #ccc;
		width:300px;
		margin:0px auto;
		text-align:center;
	}
	.title h3{
		margin: 0 auto;
		margin: -15px;
		background: #f1f3f5;
	}
	.featured .circles{
	}
	.featured .big-circle{
		width: 150px;
		height:150px;
		border: 2px solid;
		border-radius: 100%;
		color: gray;
		margin:0px 67px;
		background: #fff;
		display: inline-block;
	}
	.featured .big-circle-inner{
		width: 120px;
		height:130px;
		border: 2px solid;
		border-radius: 100%;
		color: gray;
		background: #3c86c3;
		display: inline-block;
	}
	.circle-box{
		width:292px;
		float:left;
	}
	.circle-title{
		border-bottom: 1px solid #dde0e3;
		margin:0 71px;
		color: #606b74;
		font-size:18px;
	}
	.circle-text{
		padding:10px;
	}
	.blog{
		border-top:1px solid #ccc;
	}
