body{
	margin:0px;
	padding:0px;
	font-family :sans-serif;
}
ul,li,h1,h2,h3,h4,h5{
	padding:0px;
	margin:0px;
}
ul li{
	list-style:none;
}
a{
	text-decoration: none;
	color:inherit;

}
.clearfix{
	clear:both;
}
.wrapper{
	width:1040px;
	margin:0px auto;
}
.header{
	border-top:3px #ccc;

}
.logo{
	float:left;
	font-family:  Mistral;
	font-size:35px;
	padding:5px;
}
.menu{
	float:right;
}
.menu ul li{
	float:left;
	padding:17px 38px;
	border-right:1px solid #ccc;
	text-transform: uppercase;
}
.banner{
	border-bottom: 1px solid #eee;
	padding-bottom:30px;
	background: url(../images/sss.jpg) no-repeat center center;
	height:500px;

}
.welcome{
	background:#eee;
	padding: 30px 55px;
}
h2{
	background: #eee;
	display:inline-block;
	padding:0px 20px ;
}
.title{
	text-align: center;
	margin: 0px auto;
	padding: -12px;
	text-transform: uppercase;
	border-bottom: 1px solid #ccc;
	height: 13px;
	margin-bottom: 25px;
}
.left-sidebar{
	float:left;
	width:450px;
}
 h3{
	font-size:17px;
}
 p{
	font-size:13px;
}
.right-sidebar{
	float:right;
	width:450px;
}
.popular{
	padding: 57px;
	border:1px solid #eee;

}
.popular h2{
	background:#fff;
}
.thumbnail{
	float: left;
	width: 255px;
/*	border: 1px solid;*/
	margin-right: 77px;
}
.thumbnail img{
	display:block;
}
.thumbnail.last{
	margin-right:0px;
}
.thumbnail-box{
	background:#eee;
	padding:15px;
}
.thumbnail-box button{
	background: #d99179;
	color: #fff;
	border: none;
	padding: 13px;
	font-size: 18px;
	width: 222px;
}
.thumbnail-box button.pink{
	background: #e48b9f;
}
.thumbnail-box button.yellow{
	background: #e1db87;
}
.blog{
	margin-top:50px;

}
.blog h2{
	background:#fff;
}
.blog-box{
	float: left;
	width: 431px;
	margin-right:80px;
}
.blog-box img{
	float: left;
	margin-right: 23px;
}
.blog-box h3{
	color:#db9079;
}
.blog-box .text{
	float: left;
	width: 215px;
}
.blog-box button{
	width: 180px;
	padding: 5px;
	background: #d69276;
	color: #fff;
	border: none;
	margin-bottom: 10px;
	font-size: 18px;
}
.center{
	text-align:center;
	margin:20px;
}
button.transparent-btn{
	text-align: center;
	border: 1px solid #ccc;
	background: none;
	padding: 10px 20px;
	font-size: 15px;
}
.footer{
	background:#eee;
	padding:20px;
}
.footer-menu ul li{
	float:left;
	padding-right:35px;
	text-transform: uppercase;
}
.footer p{
	padding-top:5px;
}