body{
	margin:0px;
	padding:0px;
	font-family :sans-serif;
}
ul,li,h1,h2,h3,h4,h5{
	padding:0px;
	margin:0px;
}
ul li{
	list-style:none;
}
a{
	text-decoration: none;
	color:inherit;

}
.clearfix{
	clear:both;
}
.wrapper{
	width:1040px;
	margin:0px auto;
}
.header{
	border-top:3px #ccc;

}
.logo{
	float:left;
	font-family:  Mistral;
	font-size:35px;
	padding:5px;
}
.menu{
	float:right;
}
.menu ul li{
	float:left;
	padding:17px 38px;
	border-right:1px solid #ccc;
	text-transform: uppercase;
}
.banner{
	border-bottom: 1px solid #eee;
	padding-bottom:30px;
	background: url(../images/sss.jpg) no-repeat center center;
	height:500px;

}
.welcome{
	background:#eee;
	padding: 30px 55px;
}
h2{
	background: #eee;
	display:inline-block;
	padding:0px 20px ;
}
.title{
	text-align: center;
	margin: 0px auto;
	padding: -12px;
	text-transform: uppercase;
	border-bottom: 1px solid #ccc;
	height: 13px;
	margin-bottom: 25px;
}
.left-sidebar{
	float:left;
	width:450px;
}
 h3{
	font-size:17px;
}
 p{
	font-size:13px;
}
.right-sidebar{
	float:right;
	width:450px;
}
.popular{
	margin-top: 50px;

}
.popular h2{
	background:#fff;
}